doctype html
html
  head
    title Tareas
  body
      
    form(action="/categories" method="POST")
        textarea(name="title" placeholder="Categoría a guardar")
        br
        textarea(name="color" placeholder="color")
        input(type="submit" value="Guardar")
