doctype html
html
  head
    title Hola Hola
  body
    form(action="/tasks" method="POST")
      textarea(name="description" placeholder="Coloca Aqui algo")
      input(type="submit" value="guardar")
